# Compiled class files
*.class
target/
.classpath
.project
.settings/

# Log files
*.log

# Database files
*.db
*.db-shm
*.db-wal

# IDE files
.idea/
*.iml
.vscode/
.DS_Store

# Maven
.mvn/
mvnw
mvnw.cmd

# Spring Boot
HELP.md

# Mac
.DS_Store

# Windows
Thumbs.db